.section-padding {
  padding: 5rem 0;
}
.section-title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}
.section-dark-white {
  background-color: #f8f9fa;
}
